@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

h1 {
  font-family: "Rock Salt", cursive;
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

label {
  font-size: 30px;
}

span {
  font-size: 18px;
  font-weight: bolder;
  color: #BE0000;
}

br {
  height: 1000px;
  width: 10px;
  background-color: #BE0000;
}

.TextoFormateado .TextoFormateado_parte {
  margin: 0;
}

.Mensaje_cargando {
  margin: 60px 20px;
  padding: 20px;
  display: block;
  background-color: rgb(231, 231, 231);
  align-items: center;
  text-align: center;
  border-radius: 15px;
}

.Mensaje_error {
  margin: 0;
  padding: 20px;
  display: block;
  background-color: #BE0000;
  color: white;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}

.Receta_publica {
  background-color: rgba(3, 190, 0, 0.7960784314);
  color: white;
  border-radius: 30px 0 0 0;
  font-weight: bold;
  padding: 10px;
}

.Receta_propia {
  background-color: rgba(190, 0, 0, 0.8078431373);
  color: white;
  border-radius: 30px 0 0 0;
  font-weight: bold;
  padding: 10px;
}

button {
  border: none;
}
button:hover {
  cursor: pointer;
}

.Boton_ver_mas {
  background-color: #BADEFF;
  padding: 10px 60px;
  color: #202020;
  font-weight: bold;
  border-radius: 15px;
  border: 3px solid #BADEFF;
}
.Boton_ver_mas:hover {
  border: 3px solid #6db8ff;
}

.Boton_ver_mas_reducido {
  background-color: #04BE00;
  padding: 5px;
  color: #202020;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 3px solid #04BE00;
}
.Boton_ver_mas_reducido:hover {
  background-color: rgba(3, 190, 0, 0.7960784314);
  border: 3px solid rgba(3, 190, 0, 0.7960784314);
}

.Boton_form {
  background-color: #BADEFF;
  padding: 5px 60px;
  color: #202020;
  font-weight: bold;
  width: 100%;
  border-radius: 5px;
  border: 3px solid #BADEFF;
}
.Boton_form:hover {
  border: 3px solid #6db8ff;
}

.Boton_menu {
  background-color: transparent;
  color: white;
  border: 3px solid white;
  border-radius: 15px;
  padding: 10px 20px;
}
.Boton_menu:hover {
  background-color: white;
  color: #202020;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.Busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.Busqueda .Busqueda_seleccion {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 0 20px;
}
.Busqueda .Busqueda_seleccion label {
  font-weight: bold;
  color: rgba(190, 0, 0, 0.8078431373);
}
.Busqueda .Busqueda_seleccion select option {
  background-color: white;
  border-radius: 0;
}
.Busqueda .Busqueda_etiquetas h3 {
  margin-bottom: 20px;
}
.Busqueda .Busqueda_etiquetas article {
  display: flex;
  align-items: center;
  gap: 1rem; /* Espacio entre el span y el p */
  padding: 0.5rem 0;
  border-bottom: 1px solid rgb(231, 231, 231);
}
.Busqueda .Busqueda_etiquetas article span {
  min-width: 140px;
  color: #202020;
}

.Busqueda_resultados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
  /* Media query Moviles */
}
.Busqueda_resultados .Resultados {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}
@media (max-width: 1200px) {
  .Busqueda_resultados .Resultados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.Avanzado h3 {
  margin-bottom: 10px;
}
.Avanzado img {
  max-height: 200px;
  max-width: 200px;
}
@media (max-width: 1200px) {
  .Avanzado {
    width: 100%;
  }
  .Avanzado img {
    max-height: 100px;
    max-width: 100px;
  }
}
.Avanzado .Contenedor_imagen p {
  padding: 5px;
  font-size: 70%;
}
.Avanzado .Contenedor_etiquetas {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 20px 0;
}
.Avanzado .Contenedor_etiquetas span {
  color: #202020;
  font-size: 70%;
}/*# sourceMappingURL=avanzado.css.map */