@import "../globales.scss";

section {
    margin: $espacio-peque $espacio-normal;
}

.AdminSeccionInicial {

    margin-bottom: $espacio-normal;

    p { margin: $espacio-peque 0; }
}

.AdminSeccionForm {
    display:flex;
    flex-direction: column;
}

.DetailsAdmin {

    border: 2px solid $color-primario-blur;
    

    summary {
        margin: 0;
        padding: $espacio-normal;

        font-size: $tamaño-subtitulo;

        background-color: $color-primario-blur;
        color: $color-gris;

        
    }
}

.FormularioReceta {
    
    display: flex;
    flex-direction: column;
    gap: $espacio-peque;

    padding: $espacio-normal;
    margin-left: $espacio-normal;

    max-width: 70%;

    label {
        margin-top: $espacio-peque;
    }

    input, textarea {
        width: 100%;
        
        padding: $espacio-peque;
    }

    select {
        option {
            font-size: $tamaño-parrafo;
            padding: ($espacio-peque/2) 0;
        }
    }
    
    button {
        margin: $espacio-normal 0;
        width: 50%;
    }
}

.AdminSeccionRecetas {
    table {
        width: 100%;
        border-collapse: collapse;
        background-color: white;
    }

    th,
    td {
        border: 1px solid $color-gris;
        padding: 16px;
        text-align: left;
        vertical-align: middle;
    }

    th {
        background-color: $color-terciario-blur;
        font-weight: 600;
    }

    tbody tr:hover {
        background-color: $color-gris;
    }

    td img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 8px;
        display: block;
    }

    td:last-child {
            
        button {
            margin: 5px;
        }
    }
}