@import "../globales.scss";

.Home_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0 $espacio-normal;

    .Home_main_parrafo {
        margin-bottom: $espacio-grande;

        hr {
            height: 3px;
            background-color: $color-negro;
            margin-top: $espacio-peque;
        }
    }

    // Home main MQ
    .Home_main_grid {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: $espacio-peque;
        

        .Paginacion {
            grid-column: 1;
            grid-row: 1;
        }

        .Buscador {
            grid-column: 2;
        }
    }

    @media (max-width: 1680px) {
        .Home_main_grid {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}

.Paginacion {
    h2 { margin-bottom: $espacio-normal; }

    .Paginacion_flex {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        // Paginacion_flex_elementos MQ
        .Paginacion_flex_elementos {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: $espacio-normal;
        }

        @media (max-width: 1400px) {
            .Paginacion_flex_elementos {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }

        .Paginacion_flex_pag {
            margin-top: $espacio-grande;
        }
    }
}